In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

In [5]:
2 ** 3

8

In [6]:
a = 10

In [7]:
a = a + a

In [8]:
a

20

In [9]:
type(a)

int

In [10]:
a = 30.0

In [11]:
type(a)

float

In [12]:
print("hello world")

hello world

In [13]:
print("hello /nworld")

hello /nworld

In [14]:
print("hello \nworld")

hello
world

In [15]:
print("hello \tworld")

hello 	world

In [16]:
len("hello")

5

In [17]:
len("I am")

4

In [18]:
myString("hello world")

NameError: name 'myString' is not defined

In [19]:
myString = "hello world"

In [20]:
myString

'hello world'

In [21]:
myString[0]

'h'

In [22]:
myString[8]

'r'

In [23]:
myString[9]

'l'

In [24]:
myString[-2]

'l'

In [25]:
myString = "abchefghijk"

In [26]:
myString

'abchefghijk'

In [27]:
myString

'abchefghijk'

In [28]:
myString = "abcdefghijk"

In [29]:
myString

'abcdefghijk'

In [30]:
myString [2:]

'cdefghijk'

In [31]:
myString[:3]

'abc'

In [32]:
myString[3:6]

'def'

In [33]:
myString[1:3]

'bc'

In [34]:
myString[::]

'abcdefghijk'

In [35]:
myString[::2]

'acegik'

In [36]:
myString[::-1]

'kjihgfedcba'

In [37]:
name = Sam

NameError: name 'Sam' is not defined

In [38]:
 name = "Sam"

In [39]:
name[0] = "P"

TypeError: 'str' object does not support item assignment

In [40]:
name[1:]

'am'

In [41]:
lastLetters = name[1:]

In [42]:
lastLetters

'am'

In [43]:
"P" + lastLetters

'Pam'

In [44]:
letter = "z"

In [45]:
letter * 10

'zzzzzzzzzz'

In [46]:
x = "hello world"

In [47]:
x.upper()

'HELLO WORLD'

In [48]:
x.split()

['hello', 'world']

In [49]:
x = "This is a string"

In [50]:
x.split()

['This', 'is', 'a', 'string']

In [51]:
x.split("i")

['Th', 's ', 's a str', 'ng']

In [52]:
print("This is a string {}".format("INSERTED"))

This is a string INSERTED

In [54]:
print("The {} {} {}".format("fox", "brown", "quick"))

The fox brown quick

In [55]:
print("The {2} {1} {0}".format("fox", "brown", "quick"))

The quick brown fox

In [56]:
print("The {0} {0} {0}".format("fox", "brown", "quick"))

The fox fox fox

In [58]:
print("The {q} {b} {f}".format(f="fox",b="brown",q="quick"))

The quick brown fox

a = 10

In [59]:
a

30.0

In [60]:
a = 10

In [61]:
a

10

In [62]:
result = 100/777

In [63]:
result

0.1287001287001287

In [64]:
print

In [65]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [67]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [68]:
print("The result was {r:10.3f}".format(r=result))

The result was      0.129

In [69]:
result = 104.12345

In [70]:
result

104.12345

In [71]:
print("The result was {r:1.3f}".format(r=result))

The result was 104.123

In [72]:
name = "jose"

In [74]:
print("Hello, his name is {n}".format(n=name))

Hello, his name is jose

In [76]:
print(f"Hello, his name is {name}")

Hello, his name is jose

In [79]:
name = "Sam"
age = 3

In [81]:
print(f"{name} is {3} years old.")

Sam is 3 years old.

In [2]:
name = "Phil Swift"

nae

In [3]:
name

'Phil Swift'

In [4]:
age = 30

In [5]:
print(f"{name} is {age} years old.")

Phil Swift is 30 years old.

In [6]:
myList = [1,2,3]

In [7]:
myList

[1, 2, 3]

In [8]:
myList = ["string",100, 394.3]

In [9]:
myList

['string', 100, 394.3]

In [10]:
len(myList)

3

In [11]:
myList = ["one","two","three"]

In [12]:
myList

['one', 'two', 'three']

In [13]:
myList[0]

'one'

In [14]:
myList[1:]

['two', 'three']

In [15]:
myList

['one', 'two', 'three']

In [16]:
myList2 = ["four","five"]

In [17]:
myList + myList2

['one', 'two', 'three', 'four', 'five']

In [18]:
newlist = myList + myList2

In [19]:
newlist

['one', 'two', 'three', 'four', 'five']

In [21]:
newlist[0] = "one no caps"

In [22]:
newlist

['one no caps', 'two', 'three', 'four', 'five']

In [23]:
newlist.append("six")

In [24]:
newlist

['one no caps', 'two', 'three', 'four', 'five', 'six']

In [25]:
newlist.pop()

'six'

In [26]:
newlist

['one no caps', 'two', 'three', 'four', 'five']

In [27]:
newlist.pop(0)

'one no caps'

In [28]:
newlist

['two', 'three', 'four', 'five']

In [29]:
newlist = ["a","e","x","b","c"]
numlist = [4,1,8,3]

In [30]:
newlist.sort()

In [31]:
newlist

['a', 'b', 'c', 'e', 'x']

In [32]:
numlist.sort()

In [33]:
numlist

[1, 3, 4, 8]

In [34]:
numlist.reverse()

In [35]:
numlist

[8, 4, 3, 1]

In [36]:
mydict = {'key1':'value1','key2':'value2'}

In [37]:
mydict

{'key1': 'value1', 'key2': 'value2'}

In [38]:
mydict [1]

KeyError: 1

In [39]:
mydict[1]

KeyError: 1

In [40]:
mydict['key1']

'value1'

In [41]:
prices = {'apples':2.99,'oranges':1.99,'milk':5.80}

In [42]:
prices['apple']

KeyError: 'apple'

In [43]:
prices['apples']

2.99

In [44]:
d = {'k1':123,'k2':[0,1,2],'k3':{'inside':100}}

In [45]:
d['k2']

[0, 1, 2]

In [46]:
d['k3']

{'inside': 100}

In [47]:
d['k3']['inside']

100

In [48]:
d = {'k1':['a','b','c']}

In [49]:
d

{'k1': ['a', 'b', 'c']}

In [50]:
d['k1'][2].upper()

'C'

In [51]:
d = {'k1':100,'k2':200}

In [52]:
d['k3'] = 300

In [53]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [54]:
d['k1'] = 150

In [55]:
d

{'k1': 150, 'k2': 200, 'k3': 300}

In [56]:
d ={'k1': 100, 'k2': 200, 'k3': 300}

In [57]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [58]:
d.values()

dict_values([100, 200, 300])

In [59]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [60]:
t = (1,2,3)

In [61]:
mylist = [1,2,3]

In [62]:
type(t)

tuple

In [63]:
type(mylist)

list

In [64]:
t.length()

AttributeError: 'tuple' object has no attribute 'length'

In [65]:
t

(1, 2, 3)

In [66]:
len(t)

3

In [67]:
t = ('one',2)

In [68]:
t[0]

'one'

In [69]:
t[-1]

2

In [70]:
t = ('a','a','b')

In [71]:
t.count()

TypeError: count() takes exactly one argument (0 given)

In [72]:
t.count(a)

NameError: name 'a' is not defined

In [73]:
t.count('a')

2

In [74]:
t.index('a')

0

In [75]:
t.index('b')

2

In [76]:
myset = set()

In [77]:
myset.add(1)

In [78]:
myset

{1}

In [79]:
myset.add(2)

In [80]:
myset

{1, 2}

In [81]:
myset.add(2)

In [82]:
myset

{1, 2}

In [83]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [84]:
set(mylist)

{1, 2, 3}

In [1]:
True

True

In [2]:
False

False

In [3]:
type(False)

bool

In [9]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [10]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [11]:
mylist

[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3]

In [12]:
%%writefile myfirstfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfirstfile.txt

In [14]:
myfile = open('myfirstfile.txt')

myfiles = open('yeet.txt')

In [15]:
myfiles = open('yote.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'yote.txt'

In [16]:
pwd

'C:\\Users\\Rubikscrafter\\Documents\\Coding\\Python\\Programs'

In [17]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [18]:
myfile.read()

''

In [19]:
myfile.seek(0)

0

In [20]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [21]:
myfile.seek(0)

0

In [22]:
contents = myfile.read()

In [23]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [24]:
myfile.readlines()

[]

In [25]:
myfile.seek(0)

0

In [26]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [27]:
myfile.close()

In [29]:
with open('myfirstfile.txt') as my_new_file:
    contents = my_new_file.read()

In [35]:
with open('myfirstfile.txt', mode='a') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [33]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [36]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [38]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [42]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [40]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRDFOUR ON FOURTH

In [43]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRDFOUR ON FOURTH
FOUR ON FOURTH

In [44]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [45]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [46]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [47]:
with open('asfjslkdfjlksdjfl.txt', mode = 'w') as f:
    f.write('I CREATED THIS FILE')

In [48]:
with open('asfjslkdfjlksdjfl.txt', mode = 'r') as f:
    print(f.read())

I CREATED THIS FILE

In [49]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [50]:
for item in mylist:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [51]:
for item in mylist:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [55]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f"odd number: {num}")

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [56]:
listsum = 0

In [57]:
for num in mylist:
    listsum = listsum + num
listsum

55

In [59]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for item in d:
    print(item)

k1
k2
k3

In [60]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [61]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for key,value in d.items():
    print(value)

1
2
3

In [62]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for value in d.values():
    print(value)

1
2
3

In [1]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [6]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('x is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

In [7]:
x = [1,2,3]

In [10]:
for item in x:
    pass # placeholder so syntax error doesn't show

In [11]:
myString = 'sammy'

In [13]:
for letter in myString:
    if letter == 'a':
        continue
    print(letter)

s
m
m
y

In [14]:
for letter in myString:
    if letter == 'a':
        break
    print(letter)

s

In [16]:
x = 0 

while x < 5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

In [18]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [20]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [21]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [22]:
range(0,10,2)

range(0, 10, 2)

In [23]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [26]:
indexCount = 0
for letter in 'abcde':
    print(f'At index {indexCount} the letter is {letter}')
    indexCount += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [28]:
indexCounter = 0
word = 'abdce'
for letter in word:
    print(word[indexCounter])
    indexCounter+=1

a
b
d
c
e

In [31]:
word = 'abdce'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
d


3
c


4
e

In [35]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [36]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [37]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [38]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [39]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [40]:
'x' in [1,2,3]

False

In [41]:
2 in [1,2,3]

True

In [42]:
'a' in 'a world'

True

In [43]:
'mykey' in {'mykey':345}

True

In [44]:
d = {'mykey':345}
345 in d.values()

True

In [45]:
mylist = [10,20,30,40,1000]

In [46]:
min(mylist)

10

In [47]:
max(mylist)

1000

In [48]:
from random import shuffle

In [49]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [54]:
shuffle(mylist)
mylist

[5, 1, 2, 8, 9, 6, 4, 3, 10, 7]

In [56]:
from random import randint

In [58]:
randint(0,100)

7

In [59]:
mynum = randint(0,10)

In [60]:
mynum

5

In [61]:
input('Suh dude')

Suh dude45245

'45245'

In [62]:
myString = 'hello'

In [64]:
mylist = []

for letter in myString:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [65]:
mylist = [letter for letter in myString]
mylist

['h', 'e', 'l', 'l', 'o']

In [66]:
mylist = [letter for letter in 'word']
mylist

['w', 'o', 'r', 'd']

In [67]:
mylist = [x for x in range(0,11)]

In [68]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
mylist = [x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]